LearnApp.delphilsp.json
LearnApp.dproj
LearnApp.dproj.local
LearnApp.identcache
LearnApp.res
settings.json
LearnApp_run.ps1
run.bat
LearnApp.dpr.~1~
LearnApp.dpr.~2~
LearnApp.dpr.~3~
LearnApp.dpr.~4~
LearnApp.dpr.~5~
LearnApp.dpr.~6~
LearnApp.dpr.~7~
LearnApp.dpr.~8~
LearnApp.dpr.~9~
LearnApp.exe
log.txt
MyUnit.dcu
userdata.txt
